---
import '../styles/global.css';
const { href } = Astro.props;
---

<a href={href}>
  <slot />
</a>

<style is:global>
  a {
    color: green;
  }
</style>

<script>
  const anchorLinks = document.querySelectorAll('a');

  anchorLinks.forEach((a) => {
    a.addEventListener('click', () => {
      console.log('clicked');
    });
  });
</script>
